
.linear_back {
  
  background: linear-gradient(89.85deg, #FBA91A 31.31%, rgba(251, 169, 26, 0) 99.88%)
}
.md_back{
  background: linear-gradient(89.85deg, #FBA91A 31.31%, rgba(251, 169, 26, 0) 99.88%)
  
}




.iphone-bg{
  background: linear-gradient(285.66deg, rgba(251, 169, 26, 0.27) 26.36%, rgba(217, 217, 217, 0.27) 92.62%);
border-radius: 50px;
}

.stand{
  background: url(./assets/car_logo.png);
}